<% provide(:title, 'BRNO jídelníček') %>
<h1>Brno Jídelníček</h1>
<h2><%= @restaurants.first.name %></h2>
<table>
  <tr>
    <th>Menu</th>
    <th>Cenastudent</th>
  </tr>

<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.name %></td>
    <td><%= menu.cenaStudent %></td>
  </tr>
<% end %>
</table>
