<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @menu_restaurant.date %>
</p>


<%= link_to 'Edit', edit_menu_restaurant_path(@menu_restaurant) %> |
<%= link_to 'Back', menu_restaurants_path %>
